<% include partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">YelpCamp</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item ">Info 2</li>
                <li class="list-group-item ">Info 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%=res.img%>">
                <div class="caption-full">
                    <h4 class="pull-right">Rs.2000-/-</h4>
                    <h4><a><%=res.name%></a></h4>
                    <p><%=res.description%></p>
                    <p>
                        <em>Submitted By <%=res.author.username%></em>
                    </p>
                    <%if(currentUser&&res.author.id.equals(currentUser._id)){%>
                        <a href="/campground/<%=res._id%>/edit" class="btn btn-xs btn-warning">EDIT</a>
                           <form class="delete" action="/campground/<%=res._id%>?_method=DELETE" method="POST">
                               <button class="btn btn-xs btn-danger">DELETE</button>
                            </form>
                    <% } %>
                    
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    
                    <a href="/campground/<%=res._id%>/comments/new" class="btn btn-success">Create new comment</a>
                </div>
                <hr>
    <h3>COMMENTS::</h3>
<% res.comment.forEach(function(seed){ %>
<div class="row">
    <div class="col-md-12">
        <strong><%= seed.author.username%></strong>
        <span class="pull-right">
            10 days ago
        </span>
    </div>
</div>
   <p><%=seed.text%></p>
     <%if(currentUser&&seed.author.id.equals(currentUser._id)){%>
     <a class="btn btn-xs btn-warning" href="/campground/<%=res._id%>/comments/<%=seed._id%>/edit">Edit</a>
   <form class="delete" action="/campground/<%=res._id%>/comments/<%=seed._id%>?_method=DELETE" method="POST">
       <input type="submit" class="btn btn-xs btn-danger" value="Delete">
   </form>
     <% } %>
   
<% }) %>
        </div>
    </div>
</div>
<div>
<a href="/campground" class="btn btn-primary btn-sm">TO GO BACK </a>
<% include partials/footer %>
